user-list {
  display: flex;
  flex-direction: column;
}

.user-list {
    display: block;
    border-bottom: 1px solid var(--white);
    background: var(--white);
    border-radius: 6px;
    padding-bottom: 78px;
    overflow: hidden;
}