user-list {
  display: flex;
  flex-direction: column;
}

.user-list {
    display: block;
    box-shadow: 0px 0px 30px #523F690D;
    border: 1px solid #EBEDF3;
    border-radius: 6px;
    padding-bottom: 78px;
    overflow: hidden;
}

.user-list-button {
  margin-left: auto;
  margin-bottom: 16px;
}