<table class="app-table">
    <thead class="app-table__thead">
        <tr class="app-table__tr">
            <th class="app-table__th" ng-repeat="column in $ctrl.columns track by $index">{{ column.label }}</th>
        </tr>
    </thead>
    <tbody class="app-table__tbody">
        <tr class="app-table__tr" ng-repeat="row in $ctrl.data track by $index" ng-click="$ctrl.onSelect({value:row})">
            <td class="app-table__td" ng-repeat="column in $ctrl.columns track by $index">{{ row[column.field] }}</td>
        </tr>
    </tbody>
</table>
