:root {
  --white: #ffffff;
  --gray-light: #A4A4B5;
  --gray-light-1: #F4F5F8;
  --gray-light-2: #EEF0F8;
  --gray-light-3: #F3F6F9;
  --gray-light-4: #EFF0F4;
  --gray: #3F4254;
  --red: #F44682;
  --red-light: #EF7DA0;
  --blue: #2E8FF0;
  --green: #66BB6A;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: var(--gray-light-4);
  font: normal normal normal 16px/19px Helvetica;
}

ui-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  max-width: 1320px;
  margin: auto;
  width: 100%;
}

.alerts__container {
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: right;
  margin-top: 20px;
  z-index: -1;
}