<div class="user-form">
    <div class="user-form__header">
        <div class="user-form__title">{{$ctrl.userForm.first_name + ' ' + $ctrl.userForm.last_name}}</div>
        <img ui-sref="users" src="/img/icon-close.svg" alt="close">
    </div>

    <form name="newUserForm" ng-submit="$ctrl.update(newUserForm)" novalidate>
        <app-form-field
            class="user-form__form-field"
            name="'username'"
            form="newUserForm"
            label="'Username*'"
            value="$ctrl.userForm.username">
        </app-form-field>

        <app-form-field
            class="user-form__form-field"
            name="'first_name'"
            form="newUserForm"
            label="'First name*'"
            value="$ctrl.userForm.first_name">
        </app-form-field>

        <app-form-field
            class="user-form__form-field"
            name="'last_name'"
            form="newUserForm"
            label="'Last name*'"
            value="$ctrl.userForm.last_name">
        </app-form-field>

        <app-form-field
            class="user-form__form-field user-form__email-field"
            name="'email'"
            form="newUserForm"
            label="'Email*'"
            type="'email'"
            value="$ctrl.userForm.email">
        </app-form-field>

        <app-selector
            class="user-form__form-field"
            userform="userFormFields"
            label="'Type*'"
            items="$ctrl.userTypes"
            selected="$ctrl.userForm.user_type">
        </app-selector>

        <app-form-field
            class="user-form__form-field"
            name="'password'"
            form="newUserForm"
            label="'Password*'"
            type="'password'"
            value="$ctrl.userForm.password">
        </app-form-field>

        <app-form-field
            class="user-form__form-field"
            name="'repeat_password'"
            form="newUserForm"
            label="'Repeat Password*'"
            type="'password'"
            value="$ctrl.userForm.repeat_password">
        </app-form-field>
        <div class="user-details-form__footer">
            <app-button ng-click="$ctrl.delete()" color="'red'" type="'button'">
                Delete
            </app-button>

            <app-button disabled="$ctrl.isLoading" type="'submit'">
                {{ $ctrl.isLoading ? 'Processing...' : 'Save'}}
            </app-button>
        </div>
    </form>
</div>
